:root {
  --primary-color: #e2b7ec;
  --secondary-color: #110020;
  --kondor-light: #f7dcbf;
  --kondor-gray: #828282;
}

body {
  margin: 0px;
  background: var(--secondary-color);
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  font-weight: 100;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
}

#sandbox {
  display: none;
  height: 0px;
  width: 0px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a,
a:visited {
  color: var(--primary-color);
  text-decoration: none;
}

input,
textarea {
  background-color: none;
  width: 92%;
  color: var(--kondor-gray);
  padding: 1em;
  margin: 0.5em 0 1em 0;
  border: 1px solid var(--kondor-light);
}

input,
label,
select,
button,
textarea {
  /*margin:0;
	border:0;
	padding:0;*/
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 13px;
  font-family: monospace;
}

button {
  border: none;
  padding: 0.8em;
  color: var(--secondary-color);
  background: var(--kondor-light);
  font-family: monospace;
  cursor: pointer;
  margin: .5em 0;
}
button:hover {
  opacity: 0.5;
}
.nav-button {
  background: none;
}
.nav-button span {
  color: var(--kondor-light);
  font-size: 1.2em;
}
.disabled {
  opacity: .4;
}
.button-disabled {
  cursor: not-allowed;
}
.coming-soon {
  opacity: 1 !important;
}
